* {
    margin: 0;
    padding: 0;
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.emojiStyles {
    font-size: 30px;
    color: rgb(91, 136, 131);
}

.titleStyles {
    color: rgb(221, 204, 46);
    margin: 20px;
    text-transform: capitalize;
}
    .subtitleStyles {
        color: rgb(95, 95, 95);
        margin-top: 5px;
        margin-bottom: 20px;
    }

.selectStyles {
    padding: 7px;
    border: none;
    border-bottom: turquoise solid 2px;
    margin-right: 15px;
}

.playStyles {
    margin-top: 25px;
    margin-bottom: 18px;
    padding: 7px;
    color: white;
    background-color: turquoise;
    border-radius: 10px;
}

.buttonStyles {
    cursor: pointer;
    padding: 5px;
    border: none;
    color: white;
    background-color: turquoise;
    border-radius: 10px;
}

.playerStyles {
    margin: 7px;
    color: rgb(95, 95, 95);
}

.computerStyles {
    margin: 7px;
    color: rgb(95, 95, 95);
}